################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OpenClawSetting/bin/Debug/net8.0-windows
/OpenClawSetting/.vs
/OpenClawSetting/obj/Debug/net8.0-windows/ref
/OpenClawSetting/obj/Debug/net8.0-windows/refint
/OpenClawSetting/bin/Release/net8.0-windows
/OpenClawSetting/obj/Debug/net8.0-windows
/OpenClawSetting/obj/publish/win-x64
/OpenClawSetting/obj/Release/net8.0-windows
/OpenClawSetting/obj
