<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false">

	<targets>
		<!-- 输出到 VS 输出窗口 -->
		<target name="debug" xsi:type="Debugger" layout="${longdate} [${level}] ${message}" />

		<!-- 输出到 WinForm RichTextBox 控件 (自动寻找名为 logBox 的控件) -->
		<target name="formControl" xsi:type="RichTextBox"
				controlName="logBox"
				layout="${longdate} ${message}"
				autoScroll="true"
				showMinLevel="Info" />

		<!-- 输出到文件 -->
		<target name="file" xsi:type="File"
				fileName="${basedir}/logs/installer.log"
				layout="${longdate} [${level}] ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="debug" />
		<logger name="*" minlevel="Info" writeTo="formControl" />
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>